body{
    font-family: Arial, Helvetica, sans-serif;
}

.divCenter{
    text-align: center;
}

.divLeft{
    text-align: left;
}

.textDescription{
    
    text-align: justify;
}

.marginGeneral {
    margin: 20px 70px 0;
}